<div id="btn" style="text-align: center ">

  <button
    onclick="location.href='/quiz';"
    class="button is-info is-outlined"
    style=""
  >start the quiz
  </button>

{{#each topics as |topic|}}
<h3>
  {{user.username}}: {{topic.title}}
</h3>
  {{/each}}

</div>
