

<button onclick="location.href='/quiz';" class="button is-info is-outlined" style="" >start the quiz</button>
{{!-- <button onclick="location.href='/login';" class="button is-info is-outlined" style="" >login</button> --}}
<h3>
{{!-- <button  class="button is-info is-outlined" >leaderbord</button> --}}

</h3>
{{!-- <a href="/quiz">Take the Quiz!</a> --}}
<button onclick="location.href='/login';" class="button is-info is-outlined" >sign in/sign up</button>

{{!-- <nav id="nav">
    <button class="btn" id="start-quiz-btn">Start Quiz</button>
    <button class="btn" id="leaderboard-btn">Leaderboards</button>
    <button class="btn var-btn" id="personal-btn">Personal High Scores</button>
    <button class="btn type-var-btn" id="log-in-btn">Log In</button>
    <button class="btn var-btn" id="log-out-btn">Log Out</button>
</nav> --}}