<div id="btn" style="text-align: center ">

  <button
    onclick="location.href='/quiz';"
    class="button is-info is-outlined"
    style=""
  >start the quiz</button>
  {{! <button onclick="location.href='/login';" class="button is-info is-outlined" style="" >login</button> }}
  <h3>
    {{! <button  class="button is-info is-outlined" >leaderbord</button> }}

  </h3>
  {{! <a href="/quiz">Take the Quiz!</a> }}
  <button
    onclick="location.href='/login';"
    class="button is-info is-outlined ok"
  >sign in/sign up</button>
  <div>

  </div>

</div>