<div>


<div>
    <h1>signup</h1>
    <input id="signup-username" type="text" name="username-input" placeholder="username"/>
    <input id="signup-email" type="text" name="email-input" placeholder="email"/>
    <input id="signup-password" type="password" name="password-input" placeholder="password"/>
    <button id="signup-submit" type="submit">signup </button>
</div>
<div>
    <h1>signin</h1>
    <input id="signin-username" type="text" name="username-input" placeholder="username"/>
    <input id="signin-password" type="password" name="password-input" placeholder="password"/>
    <button id="signin-submit" type="submit">signin</button>
</div>
</div>
<script src="js/login.js"></script>