<h1>Sign In</h1>

<form action="" id="signin-form">

    <div id="in-username">
        <p>Username:</p>
        <input id="signin-username" type="text" name="username-input" placeholder="Username"/>
    </div>

    <div id="in-password">
        <input id="signin-password" type="password" name="password-input" placeholder="Password"/>
    </div>
    
    <button id="signin-submit" type="submit">Sign In</button>

</form>

<script src="../public/js/login.js"></script>