<button
    onclick="location.href='/';"
    class="button is-info is-outlined"
    style="align-items: end;"
  >Home</button>
<div style="align-items: center ;">

<div style="row justify-space-between-md">
<div class="login-card">
    
    <h1 id="sign">signup</h1>
    <form action="" id="signup-form">
    <input id="signup-username" type="text" name="username-input" placeholder="username"/>
    <input id="signup-email" type="text" name="email-input" placeholder="email"/>
    <input id="signup-password" type="password" name="password-input" placeholder="password"/>
    <button id="signup-submit" type="submit">signup </button>
</form>






</div>
</div>
<div class="login-card">
    <h1 id="sign">signin</h1>
    <form action="" id="signin-form">
    <input id="signin-username" type="text" name="username-input" placeholder="username"/>
    <input id="signin-password" type="password" name="password-input" placeholder="password"/>
    <button id="signin-submit" type="submit">signin</button>
</form>
</div>
</div>






<script src="js/login.js"></script>