<div id="btn-dashboard" style="text-align: center " >
<button onclick="location.href='/quiz';" class="button is-info is-outlined" style="" >start the quiz</button> 
<button onclick="location.href='/logout';" class="button is-info is-outlined ok" >logout</button>
</div>

<h3>
  Make a new Post
</h3>

<form>

  <div class="field column is-3">
      <label class="label">Topic</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-success" id="topic" type="text" placeholder="Text input" >
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
  </div>

  <div class="column is-3 ">
      <label class="label">Post</label>
    <div class="control">
      <textarea id="post" class="textarea" placeholder="Textarea"></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" id="submit">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Cancel</button>
    </div>
  </div>
</form>
 
<script src="/js/post.js"></script>