<div>
  {{! title }}
  <div>
    {{! <img id="question-image" src="" alt="" > }}
    <figure class="image is-256x256">
      <img id="question-image" src="" />
    </figure>
  </div>
  <div>
    <h3 id="question">Question</h3>
  </div>
  <div id="choices">
    
    answers
  </div>

</div>

<script src="./js/quiz.js"></script>