<div>
    <div>
        <h2 id="image">"Image"</h2>
    </div>
    <div>
        <h3 id="question">Question</h3>
    </div>
    <div>
        <ol>
            <li>Answer</li>
            <li>Answer</li>
            <li>Answer</li>
            <li>Answer</li>
        </ol>
    </div>
</div>






<script src="./js/quiz.js"></script>