<div>
    <div>
        <h2 id="title">Title</h2>
    </div>
    <div>
        <h4 id="image">-Image-</h4>
    </div>
    <div>
        <h3 id="question">Question</h3>
    </div>
    <div>
        <ol>
            <li>Answer</li>
        </ol>
    </div>
</div>






<script src="./js/quiz.js"></script>