<div>

  <div>
    <div>

      <button onclick="location.href='/';" class="button is-info is-outlined ok">Home</button>
      <p style="color: aliceblue;" id="timer">timer</p>


    </div>
    <div>

      <img id="question-image" src="" />
      </figure>
      <div>
        <h3 id="question">Question</h3>
      </div>
      <div id="choices">


      </div>

      <div id="feedback"></div>
    </div>


  </div>

</div>

<script src="./js/quiz.js"></script>