<div>
    <div>
        <h2 id="title"></h2>
    </div>
    <div>
        <h4 id="image"></h4>
    </div>
    <div>
        <h3 id="question"></h3>
    </div>
    <div>
        <ol id="answers"></ol>
    </div>
</div>






<script src="./js/quiz.js"></script>