<h1>Sign Up</h1>

<form action="" id="signup-form">

    <div id="up-email">
        <p>Email:</p>
        <input id="signup-email" type="email" name="email-input" placeholder="sample@sample.com"/>
    </div>

    <div id="up-username">
        <p>Username:</p>
        <input id="signup-username" type="text" name="username-input" placeholder="Username"/>
    </div>

    <div id="up-password">
        <p>Password:</p>
        <input id="signup-password" type="password" name="password-input" placeholder="Password"/>
        <p>Re-input Password:</p>
        <input id="signup-pass-confirm" type="password" name="password-input-confirm" placeholder="Re-input Password">
    </div>

    <button id="signup-submit" type="submit">Sign Up</button>

</form>

<script src="../public/js/login.js"></script>