#question-image {
  width: 30%;
  height: 50vh;
  margin-left: 30%;
  margin-bottom: 2%;
}

h1 {
  font-family: "Dancing Script", cursive;
}
#sign {
  font-size: 30px;
  color: aliceblue;
}
#btn {
  margin-top: 10%;
}
#text {
  min-width: 40%;
}
#timer {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 20px;
  padding-right: 2%;
}

#question {
  font-size: 30px;
  
}

/* #choices{
    
  } */

/* #choices{
    color: aqua;
   } */