#question-image {
  width: 30%;
  height: 50vh;
  margin-left: 35%;
  /* margin-bottom: 4%; */
  text-align: center;
}

h1 {
  font-family: "Dancing Script", cursive;
}
#sign {
  font-size: 30px;
  color: aliceblue;
}
#btn {
  margin-top: 10%;
}
#text {
  min-width: 40%;
}
#timer {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 20px;
  padding-right: 2%;
}

#question {
  font-size: 30px;
  color: aqua;
  text-align: center;
  /* margin-bottom: 5%; */
  
}
#feedback{
  text-align: center;
  color: aliceblue;
}


#choices{
    color: aqua;
    text-align: center;
    /* margin-bottom: 4%; */
   } 
   #lable{
    color: aliceblue;
   }
#input-post{
  color: aliceblue;
  font-family: "Dancing Script", cursive;
}

.card-username{
  color: aliceblue;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}

